.image {
  color: var(--fg-color);
  font-family: inherit;
}

.imageContainer {
  display: flex;
  position: relative;
  width: unset;
  height: unset;
  border: 2px solid;
  border-color: var(--bg-color-secondary);
  border-radius: 6px;
  margin: 4px;
}

.inheritBorderColor {
  border-color: inherit;
}

.iconButton {
  position: absolute;

  &:hover {
    background-color: transparent;
  }
}

.centerIcon {
  top: 50%;
}

.topRightIcon {
  top: 0;
  right: 0;
}

.topLeftIcon {
  top: 0;
  left: 0;
}

.topIcon {
  top: 0;
}

.bottomIcon {
  top: 100%;
  transform: translateY(-25px);
}

.smallImage {
  font-size: var(--font-size-small);
}

.mediumImage {
  font-size: var(--font-size-medium);
}

.largeImage {
  font-size: var(--font-size-large);
}

.fill {
  width: 100%;
}
