.upload {
  color: var(--fg-color);
  font-family: inherit;
  position: relative;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorContainer{
  color: var(--error-color);
  padding: 4px;
  font-style: italic;
}

.isError {
  color: var(--error-color) !important;

  &:hover, &:active {
    color: var(--error-color) !important;
  }
}

.input {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.label {
  width: fit-content;
  color: var(--fg-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  padding: 12px;
  border: 3px dotted var(--bg-color-secondary);
  border-radius: 1rem;

  &:hover, &:active, &:focus {
    color: var(--fg-hover-color);
    background-color: var(--bg-color-secondary);
  }
}

.noBorder {
  border: none;
}

.active {
  color: var(--fg-hover-color);
  background-color: var(--bg-color-secondary);
}

.smallUpload {
  font-size: var(--font-size-small);
}

.mediumUpload {
  font-size: var(--font-size-medium);
}

.largeUpload {
  font-size: var(--font-size-large);
}

.none {
  display: none;
}

.fill {
  width: 100%;
}
