.text {
  color: inherit;
  font-family: inherit;
}

.smallText {
  font-size: var(--font-size-small);
}

.mediumText {
  font-size: var(--font-size-medium);
}

.largeText {
  font-size: var(--font-size-large);
}

.fill {
  width: 100%;
}
