.button {
  padding: 0.5rem;
  color: var(--fg-color);
  background-color: var(--bg-color);
  border: 0.125rem solid var(--fg-color);
  border-radius: 1rem;
  transition-duration: 300ms;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;

  &:hover {
    cursor: pointer;
    background-color: var(--fg-color);
    color: var(--bg-color);
  }

  &:focus-visible {
    outline: none;
    background-color: var(--bg-color-secondary);
  }
}

.active {
  // outline: 2px solid var(--fg-color);
  background-color: var(--bg-color);
}

.iconButton {
  color: var(--fg-color);

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--bg-color);
    color: var(--fg-hover-color);
  }
}

.icon {
  & > svg {
    margin: 0.5rem;
  }

  &:hover {
    border-radius: 1rem;

    & > svg {
      fill: var(--fg-hover-color);
    }
  }
}

.disabled {
  cursor: not-allowed;
  color: var(--secondary-color);
  background-color: var(--bg-color);
  border-color: var(--secondary-color);

  &:hover {
    cursor: not-allowed;
    color: var(--secondary-color);
    background-color: var(--bg-color);
    border-color: var(--secondary-color);
  }
}

.smallButton {
  width: 8rem;
  padding: 0.5rem;
  font-size: var(--font-size-small);
}

.mediumButton {
  width: 16rem;
  padding: 0.75rem;
  font-size: var(--font-size-medium);
}

.largeButton {
  width: 24rem;
  padding: 0.75rem;
  font-size: var(--font-size-large);
}

.fill {
  width: 100%;
  justify-content: left;
}

.noBorder {
  border: none;
}

.transparent {
  background: transparent;
}
