.video {
  color: var(--fg-color);
  font-family: inherit;
  border-radius: 1rem;

  &::-webkit-media-controls {
    /* Add custom styles to the controls container */
  }

  &::-webkit-media-controls-play-button {
    /* Add custom styles to the play button */
  }

  &::-webkit-media-controls-volume-slider {
    /* Add custom styles to the volume slider */
  }
}

.videoContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.errorContainer{
  color: var(--error-color);
  padding: 4px;
  font-style: italic;
}

.isError {
  border: 2px solid var(--error-color);
}

.removeButton {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.none {
  display: none;
}

.smallVideo {
  font-size: var(--font-size-small);
}

.mediumVideo {
  font-size: var(--font-size-medium);
}

.largeVideo {
  font-size: var(--font-size-large);
}

.fill {
  width: 100%;
}
