.checkbox {
  color: var(--fg-color);
  font-family: inherit;
  display: none;
}

.checkboxContainer {
  width: unset;

  & > label {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    color: inherit;
  }

  & > label::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--bg-color);
  }

  & > label::after {
    content: "";
    display: inline-block;
    position: absolute;
    transform: rotate(45deg);
  }
}

.greenChecked {
  & > label::before {
    background-color: var(--checkmark-green);
  }
}

.blueChecked {
  & > label::before {
    background-color: var(--checkmark-blue);
  }
}

.smallCheckbox {
  & > label {
    padding-left: 40px;
    padding-right: 40px;
    height: 30px;
    font-size: var(--font-size-small);
  }

  & > label::before {
    border: 4px solid var(--border-color-secondary);
    width: 30px;
    height: 30px;
  }

  &.checked {
    & > label::after {
      left: 11px;
      right: 11px;
      top: 6px;
      width: 8px;
      height: 15px;
      border: solid #fff;
      border-width: 0 3px 3px 0;
    }
  }
}

.mediumCheckbox {
  & > label {
    padding-left: 46px;
    padding-right: 46px;
    height: 36px;
    font-size: var(--font-size-medium);
  }

  & > label::before {
    border: 4px solid var(--border-color-secondary);
    width: 36px;
    height: 36px;
  }

  &.checked {
    & > label::after {
      left: 14px;
      right: 13px;
      top: 7px;
      width: 10px;
      height: 18px;
      border: solid #fff;
      border-width: 0 3px 3px 0;
    }
  }
}

.largeCheckbox {
  & > label {
    padding-left: 60px;
    padding-right: 60px;
    height: 48px;
    font-size: var(--font-size-large);
  }

  & > label::before {
    border: 4px solid var(--border-color-secondary);
    width: 48px;
    height: 48px;
  }

  &.checked {
    & > label::after {
      left: 15px;
      right: 15px;
      top: 5px;
      width: 18px;
      height: 28px;
      border: solid #fff;
      border-width: 0 4px 4px 0;
    }
  }
}

.roundCheckbox {
  & > label::before {
    border-radius: 50%;
  }
}

.squareCheckbox {
  & > label::before {
    border-radius: 8px;
  }
}

.iconOnRight {
  & > label {
    padding-left: unset;
  }

  & > label::before {
    left: unset;
  }

  &.checked {
    & > label::after {
      left: unset;
    }
  }
}

.iconOnLeft {
  & > label {
    padding-right: unset;
  }

  & > label::before {
    right: unset;
  }

  &.checked {
    & > label::after {
      right: unset;
    }
  }
}

.fill {
  width: 100%;
}
