// @import "reset.scss";

// #D81159
// #00A6ED
// #246EB9

:root {
  --bg-color: hsl(250, 13%, 9%);
  --bg-color-secondary: hsl(250, 13%, 13%);
  --bg-color-tertiary: hsl(250, 13%, 23%);
  --fg-color: hsl(25, 91%, 43%);
  --fg-hover-color: hsl(25, 91%, 53%);
  --secondary-color: hsl(25, 64%, 56%);

  --font-size-small: 1.0rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.25rem;
  --error-color: hsl(0, 100%, 35%);
}

[data-theme="light"] {
  --bg-color: white;
  --fg-color: black;
  --fg-hover-color: hsl(0, 0%, 40%);
  --secondary-color: grey;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--bg-color-secondary);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  background-color: var(--bg-color);
  color: var(--fg-color);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
