.dropdown {
  color: var(--fg-color);
  font-family: inherit;
}

.arrow {
  margin-left: auto !important;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.itemContainerPadding {
  padding-left: 1rem;
}

.item {
  display: inline-flex;
  width: 100%;
}

.itemPadding {
  padding: 4px;
}

.itemMargin {
  margin: 4px;
}

.mainButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: fixed;
  padding: 1rem;
  top: 90px;
  left: 90px;
  width: 200px;
  height: auto;
  z-index: 200;
  gap: 1rem;
  background-color: var(--bg-color-secondary);
  border-radius: 1rem;
}

.text {
  max-width: 80%;
}

.secondaryButton {
  border-color: var(--bg-color-secondary);
}

.smallDropdown {
  font-size: var(--font-size-small);
}

.mediumDropdown {
  font-size: var(--font-size-medium);
}

.largeDropdown {
  font-size: var(--font-size-large);
}

.fill {
  width: 100%;
}
