.dropdown {
  color: var(--fg-color);
  font-family: inherit;
}

.arrow {
  transition: transform 0.3s ease;
}

.rightArrow {
  transform: rotate(-90deg);
}

.open180 {
  transform: rotate(180deg);
}

.open90 {
  transform: rotate(0deg);
}

.itemContainerPadding {
  padding-left: 1rem;
}

.item {
  display: inline-flex;
  width: 100%;
}

.itemPadding {
  padding: 4px;
}

.itemMargin {
  margin: 4px;
}

.mainButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowOnRight {
  margin-left: auto !important;
}

.arrowOnLeft {
  margin-right: auto;
}

.arrowOnLeftWithText {
  margin-right: 16px;
}

.leftArrowButton {
  flex-flow: row-reverse;
}

.popup {
  position: fixed;
  padding: 8px;
  top: 90px;
  left: 90px;
  width: 200px;
  height: auto;
  z-index: 200;
  gap: 8px;
  background-color: var(--bg-color-secondary);
  border-radius: 8px;
}

.text {
  max-width: 70%;
}

.textOnLeft {
  margin-right: auto;
}

.secondaryButton {
  border-color: var(--bg-color-secondary);
}

.smallDropdown {
  font-size: var(--font-size-small);
}

.mediumDropdown {
  font-size: var(--font-size-medium);
}

.largeDropdown {
  font-size: var(--font-size-large);
}

.fill {
  width: 100%;
}
