.textarea {
  color: var(--fg-color);
  font-family: inherit;
  background-color: var(--bg-color);
  border: none;
  outline: none;

  width: 100%;
  height: 100%;

  &::placeholder {
    color: var(--bg-color-secondary);
  }
}

.parentContainer {
  color: var(--bg-color-secondary);

  &:focus-within {
    color: var(--fg-color);

    > .border {
      border: 2px solid var(--fg-color);
    }
  }
}

.border {
  padding: 10px;
  border-radius: 1rem;
  border: 2px solid var(--bg-color-secondary);
  outline: none;

  &:focus-within {
    border: 2px solid var(--fg-color);
  }
}

.outsideCounter {
  text-align: right;
  height: unset;
  padding: 5px;
}

.label {
  color: inherit;
  text-align: left;
}

.isError {
  color: var(--error-color);

  &:focus-within {
    color: var(--error-color);
  }
}

.isErrorContainer {
  border: 2px solid var(--error-color);

  &:focus-within {
    border: 2px solid var(--error-color);
  }
}

.counterContainer {
  text-align: right;
  height: unset;
  user-select: none;
}

.smallTextarea {
  font-size: var(--font-size-small);
}

.mediumTextarea {
  font-size: var(--font-size-medium);
}

.largeTextarea {
  font-size: var(--font-size-large);
}

.fill {
  width: 100%;
}
