.sidebar {
  color: var(--fg-color);
  font-family: inherit;
  border: 1px solid green;
  width: 300px;
  height: 100%;
  position: absolute;
}

.smallSidebar {
  font-size: var(--font-size-small);
}

.mediumSidebar {
  font-size: var(--font-size-medium);
}

.largeSidebar {
  font-size: var(--font-size-large);
}

.fill {
  width: 100%;
}
