.sidebar {
  color: var(--fg-color);
  font-family: inherit;
  background-color: var(--bg-color-secondary);
  min-width: 4.5rem;
  height: 100%;
  align-self: normal;
  padding: 0.5rem 0;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}

.overlap {
  width: 70vw;
  max-width: 280px;
}

.smallSidebar {
  font-size: var(--font-size-small);
}

.mediumSidebar {
  font-size: var(--font-size-medium);
}

.largeSidebar {
  font-size: var(--font-size-large);
}

.fill {
  width: 100%;
}
